/* apply a natural box model to all elements,
but allowing components to change */

html {
    box-sizing: border-box;
   
}
*, *:before, *:after {
    box-sizing: inherit;
}


@font-face {
    font-family: CherrySwash;
    src: url(../fonts/CherrySwash-Bold.ttf) format("truetype");
}

@font-face {
    font-family: Coiny;
    src: url(../fonts/Coiny-Regular.ttf) format("truetype");
}

/*@font-face {
    font-family: Chewy;
    src: url(../fonts/Chewy.ttf) format("truetype");
}*/

html, body {
    height: 100%;
    /* makes the html element and body element full height
    of the browser window--- otherwise the elements will only
    be big enough to show the actual content */
}

.tapestry {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/tapestry.jpg);
    background-position: center;
    background-repeat: repeat-x;
    height: 100%;

    /* height is set to 100% so it would tile if
    background size wasn't set to cover*/
}

/*.layer{
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}*/

.main-container {
    border: 10px solid cyan;
    display: block;
    max-width: 900px;
    /*width: 900px;*/
    border-radius: 25px;
    padding: 1em;
    
}

.description {
    border: 10px solid green;
    display: block;
    background: rgba(0,0,0,0.2);
    color: #E8A900;
    border-radius: 25px;
    padding: 1.75em;
    font-family: Coiny;
    text-align: center;
    margin: 0 4em;
}

h1.title {
    display: flex;
    border: 5px solid red;
    padding: 0 1em; 
    text-align: center;
    font-size: 90px;
    font-family: CherrySwash, Verdana, Tahoma, sans-serif;
    background: -webkit-linear-gradient(#F7FF15, #E8A900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    padding-bottom: 5px;

}

.cover-photo {
    /* remember image urls are relative to css file <3 */
    background-image: url(../images/big-pad-thai.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-top: 10px solid #E8A900;
    border-bottom: 10px solid #E8A900;
}