/* apply a natural box model to all elements,
but allowing components to change */

html {
    box-sizing: border-box;
   
}
*, *:before, *:after {
    box-sizing: inherit;
}


@font-face {
    font-family: CherrySwash;
    src: url(../fonts/CherrySwash-Bold.ttf) format("truetype");
}

/*@font-face {
    font-family: Chewy;
    src: url(../fonts/Chewy.ttf) format("truetype");
}*/

html, body {
    height: 100%;
    /* makes the html element and body element full height
    of the browser window--- otherwise the elements will only
    be big enough to show the actual content */
}

.tapestry {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/tapestry.jpg);
    background-position: center;
    background-size: cover;
    height: 100%; 
    /* height is set to 100% so it would tile if
    background size wasn't set to cover*/
}

/*.layer{
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}*/

.main-container {
    display: block;
    max-width: 900px;
    /*width: 900px;*/
    background: rgba(173,103,59,0.9);
    border-radius: 25px;
    padding: 1em;
    
}

h1.title {
    display: block;
    text-align: center;
    font-size: 80px;
    font-family: CherrySwash, Verdana, Tahoma, sans-serif;
    background: -webkit-linear-gradient(#FFCB55, #E89F39);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float: left;
    /*border: 10px solid green;*/
    margin-bottom: 0;
    padding-bottom: 5px;

}

.main-container img {
    /* remember image urls are relative to css file <3 */
    /*background-image: url(../images/big-pad-thai-crop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    width: 35em;
    /*border: 10px solid green;*/

}